<div id="footer">
    <div class="logo">
        <a href="#home"><img src="https://i.pinimg.com/originals/12/bb/9d/12bb9de6065a3a69e4e13ca2dae2bb46.jpg" alt="" style="width: 100px; height: 50px; margin-top: 5px; padding-top: 2px;"></a>
    </div>
    <div class="derechos">
        Univ. Julio Mauricio Mujica Porcel <br>
    </div>
    <div class="contact">
        <a href="#whatsApp">
            <i class="fa-brands fa-whatsapp fa-2xl" style="color: #040f0c;"></i>
        </a>
        <a href="#facebook">
            <i class="fa-brands fa-facebook fa-2xl" style="color: #070d12;"></i>
        </a>
        <a href="#telegram">
            <i class="fa-brands fa-telegram fa-2xl" style="color: #060c11;"></i>
        </a>
    </div>
</div>
