
<div class="main">
  <section>
    <img src="../../assets/242852.jpg" alt="">
    <img src="../../assets/55565.jpg" alt="">
    <img src="../../assets/192424.jpg" alt="">
    <img src="../../assets/492611.jpg" alt="">
    <img src="../../assets/1366_2000.jpg" alt="">
    <img src="../../assets/16591757825079.jpg" alt="">
    <img src="../../assets/1578395572.jpg" alt="">
    <img src="../../assets/it-1572084661.jpg" alt="">
    <img src="../../assets/1234893.jpg" alt="">
    
  </section>
    <div id="welcomeContent">
      <div id="welcome">
        <h1><b>Bienvenido a MAXTVPro</b> <br></h1>
        
        <br>
        <br>
        <br>
      </div>
      <button (click)="redirect()"><b>Seleccionar Peliculas</b></button>
  </div>
</div>

