.main{
    background-color: rgb(15, 37, 66);
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 0;
}
section{
  display: flex;
  width: 100%;
  height: 430px;
}
section img{
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
section img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}
.slider{
  position: relative;
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {
    display: none;
    border-radius: 10px;
    position: relative;
    width: 100%;
    
}

.mySlides img{
    vertical-align: middle;
    width: 100%;
    max-height: 80%;
    image-rendering: crisp-edges;
    z-index: -1;
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  max-height: 80vh;
  position: relative;
  margin: auto;
  overflow: hidden;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(107, 89, 209);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(65, 60, 211, 0.8);
}
.dots{
  text-align:center; 
  box-shadow: 0px -50px 30px rgba(0, 0, 0, 0.6), 0px -50px 30px rgba(0, 0, 0, 0.5), 0px -30px 60px rgba(1, 15, 36, 1),0px -30px 60px rgba(1, 15, 36, 0.8); 
  position: relative;
  margin-bottom: 5%;
  padding-bottom: 2%;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #2076d1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #3f25b2;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


* {
  box-sizing: border-box;
}
.content{
  width: auto;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Centra los elementos */
  gap: 16px; /* Espacio entre las películas */
  width: 95%;
  margin-left: 2.5%;
}

.container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 16px; /* Espacio inferior entre las películas */
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(93, 180, 204);
  padding: 20px;
  border-radius: 0 0 8px 8px;
  text-align: center;
  font-size: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.container:hover .overlay {
  opacity: 1;
}

#welcomeContent{
  text-align: center; 
  color: white; display: 
  grid; place-items: center; 
  position: relative; margin-top: -12.5%;  
  background: linear-gradient(to bottom, rgb(221, 222, 224, 0), rgba(1, 10, 22, 0.8), rgb(1, 10, 22), rgb(1, 10, 22), rgb(1, 10, 22));
  pointer-events: none;
}

#welcome{
  width: 80%;
}
#welcome h1 b{
  font-size: 1.5em;
}
#welcomeContent button{
  width: 150px;
  height: 60px;
  background-color: rgb(72, 0, 255);
  border-radius: 10px;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: white;
  pointer-events: all;
}

#welcomeContent button:hover{
  box-shadow: 0 0 10px rgb(121, 20, 222);
}

@media (max-width: 768px) {
  .movie-list {
    justify-content: center; /* Centra los elementos en pantallas pequeñas */
  }
  section{
    height: 350px;
    overflow: hidden;
  }
  .container {
    width: 100%; /* Una columna en pantallas pequeñas */
  }
  #welcomeContent{
    width: 100%;
    padding-bottom: 5%;
    margin-top: -25%;
  }
  #welcome{
    width: 100%;
  }
  #welcome h1{
    font-size: 1em;
  }
}
@media(max-width: 1250px){
  #welcomeContent{
    background: linear-gradient(to bottom, rgba(88, 130, 214, 0), rgb(44, 125, 230), rgb(1, 10, 22), rgb(1, 10, 22));

  }
}