<div id="login">
    <div id="reset" #closeReset>
        <span style="right: 0;"><i class="fa-solid fa-xmark fa-xl" (click)="closeResetW()"></i></span>
        <app-reset-password style="margin-top: 5%;"></app-reset-password>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="container">
        <span><i class="fa-solid fa-xmark fa-xl" (click)="home()"></i></span>
        <div style="margin-top: 3%;">
            <h1>Hola, Bienvenido</h1>
        </div>
        <div id="email">
            <input type="email" placeholder="Email" formControlName="email">
            <i class="fa-solid fa-envelope fa-lg"></i>
        </div>
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" class="controls">
            
        </div>
        <div id="password">
            <input type="password" placeholder="Password" formControlName="password">
            <i class="fa-solid fa-lock fa-lg"></i>
        </div>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="controls">
            Password is required.
        </div>
        <div id="google" (click)="loginWithGoogle()">
            <b>Google</b>
        </div>
        <div id="recoverPassword">
            <p (click)="openReset()">Olvidé mi contraseña</p>
        </div>
        <div id="button">
            <button type="submit" [disabled]="loginForm.invalid">login</button>
        </div>
        <div id="newUser">
            <a href="/create"><p>Registrar nueva cuenta <b></b></p></a>
        </div>
    </form>
</div>
