<div id="nav" #nav>
    <div id="menu" #myDiv>
        <div id="logo">
            <a href="/dashboard" style="display: flex; align-items:end; text-decoration: none; color: rgb(5, 5, 83);">
                <img src="https://firebasestorage.googleapis.com/v0/b/images-29f45.appspot.com/o/logos%2Fpng-transparent-cinema-film-moveis-logo-film-art-film-removebg-preview.png?alt=media&token=196f38b0-f9eb-4b57-a63e-7f9d01e45c48" alt="" style="width: 150px; height: 70px; margin-top: 5px; padding-top: 2px;"> <h1><b style="text-decoration-style:double;">ADREX</b></h1>
            </a>
        </div>
        <div id="home" class="dash">
            <b>HOME</b>
            <div><a href="/dashboard"><i class="fa-solid fa-chart-line fa-lg"></i>  Dashboard</a></div>
        </div>
        <div id="crud" class="dash">
            <b>CRUD</b>
            <div><a href="/movies-crud"><i class="fa-solid fa-video fa-lg"></i>  Movies</a></div>
            <div><a href="/users"><i class="fa-solid fa-users fa-lg"></i>  Users</a></div>
        </div>
        <div id="autentication" class="dash">
            <b>AUTENTICATION</b>
            <div><a href="/login"><i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>  Login</a></div>
            <div><a href="/createAcount"><i class="fa-solid fa-registered fa-lg"></i>  Register</a></div>
        </div>
        <div id="back" class="dash">
            <b>BACK</b>
            <div><a href="/home"><i class="fa-regular fa-circle-left fa-lg"></i>  Back Home</a></div>
        </div>
    </div>
</div>